{% extends 'base.html.twig' %}

{% block title %}Categories | ProjetWebS4{% endblock %}

{% block body %}
    <h2>Product : {{ product.name }}</h2>
    <h3 class="category">{{ product.category.name }}</h3>

    <div class="container" id="container_product">
        <div class="container_left">

        </div>

        <div class="container_right">
            <p>{{ product.price }}€</p>

            <button>Acheter</button>
        </div>
    </div>
{% endblock %}
